.banner{
    background: url(../img/banner8.jpg) no-repeat center center/100%;
}

/*路线总汇样式开始*/
.route_summary2{
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/*路线总汇导航栏*/
.tab_box ul{
    width: 900px;
    height: 60px;
    margin: 0 auto;
    animation: an1 1s;
}
.tab_box ul li{
    width: 180px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    float: left;
    text-align: center;
    background-color: rgb(231, 231, 231);
}
.tab_box ul li:hover{
    color: white;
    background-color: #047ca7;
}
.hover{
    color: white;
    background-color: #047ca7 !important;
}

/*路线总汇表格样式*/
.box table{
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    border-collapse: separate;
    border-spacing: 20px 20px;
}
.box table a{
    color: #000;
}
.box table .tr1{
    animation: an3 1s;
}
.box table .tr2{
    animation: an4 1s;
}
.box table tr td{
    height: 310px;
    text-align: center;
    position: relative;
    border: 1px solid rgb(235, 233, 233);
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
}
.box table tr td:hover{
    border: 1px solid rgb(0, 0, 0);
}
.box table tr td.td1:hover {
    border: none !important;
}
.box table b{
    font-weight: normal;
    display: inline-block;
    text-align: center;
    position: relative;
}
.box table u{
    color: red;
}
.box table span{
    display: inline-block;
    width: 350px;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}
.box table img{
    width: 350px;
    height: 225px;
    transition: all 0.5s;
}
.box table img:hover{
    transform: scale(1.3);
}
/*第一行第一个单元格样式*/
.box table .td1{
    width: 100px;
    position: relative;
    vertical-align: bottom;
    border: none;
    color: #047ca7;
    overflow: hidden;
}
.box table .td1 h3{
    position: absolute;
    top: 15px;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
}
.box table .td1 p{
    width: 360px;
    height: 170px;
    line-height: 55px;
    padding: 30px;
    text-align: left;
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.box table .td1 img{
    width: 360px;
    height: 540px;
    position: relative;
    bottom: -10px;
}
.box table .td1 img:hover{
    transform: scale(1);
}
/*第三行第一个单元格样式*/
.box table .td2{
    border: none;
}
.box table .td2:hover{
    border: none;
}
/*路线总汇内容样式*/
.content{
    width: 1200px;
    height: 700px;
    position: relative;
    line-height: 24px; 
    display: none;
}
/*路线总汇底部假的1234页面*/
.sp1{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    top: 1030px;
    left: 535px;
    cursor: pointer;
}
.color_red{
    color: red !important;
}
.sp1:hover{
    color: red;
}
/*路线总汇样式结束*/
